@page "/urlshortener"
@using Microsoft.AspNetCore.Components.QuickGrid
@using UrlShortener.Shared

<PageTitle>UrlShortener</PageTitle>

<div class="mb-3 d-flex gap-2">
    <input type="text"
           class="form-control"
           placeholder="Enter URL to shorten (e.g. https://google.com)"
           @bind="UrlInput"
           @bind:event="oninput" />
    
    <button class="btn btn-primary" @onclick="AddUrlAsync">
        Shorten
    </button>
</div>

<QuickGrid ItemsProvider="ItemsProvider" Pagination="Pagination" TGridItem="ShortUrlTableModel">
    <TemplateColumn Title="Short Code">
        <a href="@($"{AppSettings.ApiBaseUrl}url/{context.ShortCode}")" target="_blank">@context.ShortCode</a>
    </TemplateColumn>
    <TemplateColumn Title="Full Url">
        <a href="@context.FullUrl" target="_blank">@context.FullUrl</a>
    </TemplateColumn>
	<PropertyColumn Property="@(x => x.RedirectCount)" Title="Clicks" />
    <PropertyColumn Property="@(x => x.CreatedAt)" Title="Created At" />
    <TemplateColumn Title="Actions">
        <Microsoft.FluentUI.AspNetCore.Components.FluentButton OnClick="@(() => EditShortUrl(context))">
            Edit
        </Microsoft.FluentUI.AspNetCore.Components.FluentButton>
        <Microsoft.FluentUI.AspNetCore.Components.FluentButton OnClick="@(() => DeleteUrlAsync(context.ShortCode))">
            Delete
        </Microsoft.FluentUI.AspNetCore.Components.FluentButton>
    </TemplateColumn>
</QuickGrid>
<Paginator State="Pagination" />
